<div>
    <app-header [cart]='cart' [wishlist]='wishlist' [wish]='wish'></app-header>
  </div>
  <div class="card-deck">
      <div class="card" > 
        <a (click)="addcart('/product','HT-1000')"><img src="{{products[0].ProductPicUrl}}" class="card-img-top" alt="..." ></a>
        <div class="card-body">
          <h5 class="card-title">{{products[0].Name}}</h5>

          <p class="card-text">{{products[0].Price}} $</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" [routerLink]="['/cart', { id:products[0].ProductId }]" (click)="addcart()">add to cart</button>{{'  '}}
            <button class="btn btn-primary" (click)="wish('products[0].Name','products[0].Price')" >add to wishlist</button>
         
        </div>
        
      </div>
      <div class="card">
          <a (click)="addcart('/product','HT-1001')"><img src="{{products[1].ProductPicUrl}}" class="card-img-top" alt="..." ></a>

          <div class="card-body">
            <h5 class="card-title">{{products[1].Name}}</h5>
            <p class="card-text">{{products[1].Price}} $</p>
          </div>
          <div class="card-footer">
              <button class="btn btn-primary" [routerLink]="['/cart', { id:products[1].ProductId }]" (click)="addcart()">add to cart</button>{{'  '}}
            <button class="btn btn-primary" (click)="wish('products[1].Name','products[1].Price')">add to wishlist</button>
              
          </div>
          
        </div>localStorage.getItem('cart');
        <div class="card">
        <a (click)="addcart('/product','HT-1002')"><img src="{{products[2].ProductPicUrl}}" class="card-img-top" alt="..." ></a>

          
            <div class="card-body">
              <h5 class="card-title">{{products[2].Name}}</h5>
              <p class="card-text">{{products[2].Price}} $</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary"[routerLink]="['/cart', { id:products[2].ProductId }]" (click)="addcart()">add to cart</button>{{'  '}}
            <button class="btn btn-primary" (click)="wish('products[2].Name','products[2].Price')" >add to wishlist</button>
             
            </div>
            
          </div>
      
    </div>

    <div class="card-deck">
        <div class="card">
        <a (click)="addcart('/product','HT-1003')"><img src="{{products[3].ProductPicUrl}}" class="card-img-top" alt="..." ></a>
        
          <div class="card-body">
            <h5 class="card-title">{{products[3].Name}}</h5>
  
            <p class="card-text">{{products[3].Price}} $</p>
          </div>
          <div class="card-footer">
              <button class="btn btn-primary"[routerLink]="['/cart', { id:products[3].ProductId }]" (click)="addcart()">add to cart</button>{{'  '}}
            <button class="btn btn-primary" (click)="wish('products[3].Name','products[3].Price')" >add to wishlist</button>
          </div>
          
        </div>
        <div class="card">
        <a (click)="addcart('/product','HT-1007')"><img src="{{products[4].ProductPicUrl}}" class="card-img-top" alt="..." ></a>
        
            <div class="card-body">
              <h5 class="card-title">{{products[4].Name}}</h5>
              <p class="card-text">{{products[4].Price}} $</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" [routerLink]="['/cart', { id:products[4].ProductId }]" (click)="addcart()">add to cart</button>{{'  '}}
            <button class="btn btn-primary" (click)="wish('products[4].Name','products[4].Price')" >add to wishlist</button>
            </div>
            
          </div>
          <div class="card">
        <a (click)="addcart('/product','HT-1010')"><img src="{{products[5].ProductPicUrl}}" class="card-img-top" alt="..." ></a>
              
              <div class="card-body">
                <h5 class="card-title">{{products[5].Name}}</h5>
                <p class="card-text">{{products[5].Price}} $</p>
              </div>
              <div class="card-footer">
                  <button class="btn btn-primary" [routerLink]="['/cart', { id:products[5].ProductId }]"(click)="addcart()">add to cart</button>{{'  '}}
            <button class="btn btn-primary" (click)="wish('products[5].Name','products[5].Price')" >add to wishlist</button>
              
              </div>
              
            </div>
        
      </div>



      <div class="card-deck">
          <div class="card">
        <a (click)="addcart('/product','HT-1011')"><img src="{{products[6].ProductPicUrl}}" class="card-img-top" alt="..." ></a>
          
            <div class="card-body">
              <h5 class="card-title">{{products[6].Name}}</h5>
    
              <p class="card-text">{{products[6].Price}} $</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary"[routerLink]="['/cart', { id:products[6].ProductId }]" (click)="addcart()">add to cart</button>{{'  '}}
            <button class="btn btn-primary" (click)="wish('products[6].Name','products[6].Price')" >add to wishlist</button>
            </div>
            
          </div>
          <div class="card">
        <a (click)="addcart('/product','HT-1020')"><img src="{{products[7].ProductPicUrl}}" class="card-img-top" alt="..." ></a>
      
              <div class="card-body">
                <h5 class="card-title">{{products[7].Name}}</h5>
                <p class="card-text">{{products[7].Price}} $</p>
              </div>
              <div class="card-footer">
                  <button class="btn btn-primary" [routerLink]="['/cart', { id:products[7].ProductId }]"(click)="addcart()">add to cart</button>{{'  '}}
            <button class="btn btn-primary" (click)="wish('products[7].Name','products[7].Price')" >add to wishlist</button>
              </div>
              
            </div>
            <div class="card">
        <a (click)="addcart('/product','HT-1021')"><img src="{{products[8].ProductPicUrl}}" class="card-img-top" alt="..." ></a>
                
                <div class="card-body">
                  <h5 class="card-title">{{products[8].Name}}</h5>
                  <p class="card-text">{{products[8].Price}} $ </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary"[routerLink]="['/cart', { id:products[8].ProductId }]" (click)="addcart()">add to cart</button>{{'  '}}
            <button class="btn btn-primary" (click)="wish('products[8].Name','products[8].Price')" >add to wishlist</button>
                </div>
                
              </div>
          
        </div>

        <!-- <a [routerLink]="['/products']">Products</a> | -->
        <a [routerLink]="['/cart']">Cart</a>










  <!-- <div class="card-group" *ngFor="let item of product;let i=index;">
      <div class="card">
        <img src="{{item.ProductPicUrl}}" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">product name: {{item.Name}}</h5>
          <p class="card-text">price :{{item.Price}} </p>
          <button class="btn btn-primary" (click)="addcart('/product','1')">add to cart</button>{{'  '}}
            <button class="btn btn-primary" (click)="wish('/wishlist')" >add to wishlist</button>
            <button class="btn btn-primary" (click)="wish('/wishlist')" >add to wishlist</button>
        <button class="btn btn-primary" >view details</button>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
  </div>  -->

  <!-- <div class="container"> -->
      <!-- Example row of columns -->
<!-- 
  <div class="home">
      <div class="row">
          
       
        <div  class ="coll" >
            <ng-container *ngFor="let item of product;let i=index;">
          <span>product name: {{item.Name}}</span><br>
          <span>price :{{item.Price}}   </span><br>
        <br>
          <img src="{{item.ProductPicUrl}}" height="100px" width="100px">
      <br>
        <button class="btn btn-primary" (click)="addcart('/cart','1')">add to cart</button>{{'  '}}
        <button class="btn btn-primary" >view details</button>
     
      </ng-container>
       </div> -->
  
       <!-- </div>
      <hr>
    </div>
<div>  -->
  
  <div>
  <app-footer></app-footer>
</div>



 