.form-group{
// padding-left: 40px;
// padding-right: 40px;
padding-top: 80px;
// padding-left: 150px;
// padding-right: 150px;
text-align: center;
// border-block-end-color: black;
// background-color:aquamarine;
}
.btn btn-primary{
    padding-left: 40px,
    
}