<div class="singlep" *ngIf="id ==='HT-1000'" >
    <div class="card mb-3" style="max-width: 900px; max-height: 900px" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{product[0].ProductPicUrl}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Product Name :</strong>{{product[0].Name}}</h5>
              <p class="card-text"><strong>Product Price :</strong> {{product[0].Price}}</p>
              <p class="card-text"><strong>Product Description : </strong>{{product[0].Description}}</p>

              
              <p class="card-text"><strong>Product Status: </strong><small class="text-muted"> {{product[0].Status}}</small></p>
            </div>
          </div>
        </div>
      </div>
</div>



<div class="singlep" *ngIf="id ==='HT-1001'" >
  <div class="card mb-3" style="max-width: 900px; max-height: 900px" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{product[1].ProductPicUrl}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Product Name :</strong>{{product[1].Name}}</h5>
            <p class="card-text"><strong>Product Price :</strong> {{product[1].Price}}</p>
            <p class="card-text"><strong>Product Description : </strong>{{product[1].Description}}</p>

            
            <p class="card-text"><strong>Product Status: </strong><small class="text-muted"> {{product[1].Status}}</small></p>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="singlep" *ngIf="id ==='HT-1002'" >
  <div class="card mb-3" style="max-width: 900px; max-height: 900px" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{product[2].ProductPicUrl}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Product Name :</strong>{{product[2].Name}}</h5>
            <p class="card-text"><strong>Product Price :</strong> {{product[2].Price}}</p>
            <p class="card-text"><strong>Product Description : </strong>{{product[2].Description}}</p>

            
            <p class="card-text"><strong>Product Status: </strong><small class="text-muted"> {{product[2].Status}}</small></p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="singlep" *ngIf="id ==='HT-1003'" >
  <div class="card mb-3" style="max-width: 900px; max-height: 900px" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{product[3].ProductPicUrl}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Product Name :</strong>{{product[3].Name}}</h5>
            <p class="card-text"><strong>Product Price :</strong> {{product[3].Price}}</p>
            <p class="card-text"><strong>Product Description : </strong>{{product[3].Description}}</p>

            
            <p class="card-text"><strong>Product Status: </strong><small class="text-muted"> {{product[3].Status}}</small></p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="singlep" *ngIf="id ==='HT-1007'" >
  <div class="card mb-3" style="max-width: 900px; max-height: 900px" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{product[4].ProductPicUrl}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Product Name :</strong>{{product[4].Name}}</h5>
            <p class="card-text"><strong>Product Price :</strong> {{product[4].Price}}</p>
            <p class="card-text"><strong>Product Description : </strong>{{product[4].Description}}</p>

            
            <p class="card-text"><strong>Product Status: </strong><small class="text-muted"> {{product[4].Status}}</small></p>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="singlep" *ngIf="id ==='HT-1010'" >
  <div class="card mb-3" style="max-width: 900px; max-height: 900px" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{product[5].ProductPicUrl}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Product Name :</strong>{{product[5].Name}}</h5>
            <p class="card-text"><strong>Product Price :</strong> {{product[5].Price}}</p>
            <p class="card-text"><strong>Product Description : </strong>{{product[5].Description}}</p>

            
            <p class="card-text"><strong>Product Status: </strong><small class="text-muted"> {{product[5].Status}}</small></p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="singlep" *ngIf="id ==='HT-1011'" >
  <div class="card mb-3" style="max-width: 900px; max-height: 900px" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{product[6].ProductPicUrl}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Product Name :</strong>{{product[6].Name}}</h5>
            <p class="card-text"><strong>Product Price :</strong> {{product[6].Price}}</p>
            <p class="card-text"><strong>Product Description : </strong>{{product[6].Description}}</p>

            
            <p class="card-text"><strong>Product Status: </strong><small class="text-muted"> {{product[6].Status}}</small></p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="singlep" *ngIf="id ==='HT-1020'" >
  <div class="card mb-3" style="max-width: 900px; max-height: 900px" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{product[7].ProductPicUrl}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Product Name :</strong>{{product[7].Name}}</h5>
            <p class="card-text"><strong>Product Price :</strong> {{product[7].Price}}</p>
            <p class="card-text"><strong>Product Description : </strong>{{product[7].Description}}</p>

            
            <p class="card-text"><strong>Product Status: </strong><small class="text-muted"> {{product[7].Status}}</small></p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="singlep" *ngIf="id ==='HT-1021'" >
  <div class="card mb-3" style="max-width: 900px; max-height: 900px" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{product[8].ProductPicUrl}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Product Name :</strong>{{product[8].Name}}</h5>
            <p class="card-text"><strong>Product Price :</strong> {{product[8].Price}}</p>
            <p class="card-text"><strong>Product Description : </strong>{{product[8].Description}}</p>

            
            <p class="card-text"><strong>Product Status: </strong><small class="text-muted"> {{product[8].Status}}</small></p>
          </div>
        </div>
      </div>
    </div>
</div>